.canvas {
    background-image: url('/assets/img/fundo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    border: solid #990000 5px;
    outline-color: blue;
}

.titulo {
    font-family: 'Roboto Mono', monospace;
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.5em;
    padding-top: 0.5em;
    
    
}

body {
    overflow: hidden;
    background-color: black;

}

div {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;

}

#pontos {
    padding: 1em 1.5em 1em 1.5em;
    font-size: 1em;
    border-radius: 100px;
    font-weight: bolder;
    color:black;
    background-color: #ffff00;
    font-family: 'Roboto Mono', monospace;
}

#start {
    padding: 1em;
    font-size: 1em;
    border-radius: 100px;
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}